.header{
    font-size: 35px;
    font-family: Oswald, sans-serif;
    color: black;
}

.subTitle{
    font-size: 15px;
    font-family: Oswald, sans-serif;
    color: black;
    display: flex;
    justify-content: flex-end;
}