.todoItem {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    margin: 15px;
    box-shadow: 0 1px 10px lightblue;
    border-radius: 10px;
    display: flex;
}

.textWrapper {
    width: 100%;
}
.deleteItemButton {
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: red;
    margin-top: 1%;
}
